*.mp4
*.png

#<RP Default Gitignore Start>
*.pyc
*.bak
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
~$*.pptx
*.blend1
.frenzy
#<RP Default Gitignore End>

Notebooks/vae_comparison.mp4
*.safetensors
*.model
.claude_todo.md
scratchpad.py
LTX2/models/gemma-3-12b-it-qat-q4_0-unquantized

untracked
Training/ZoomOutEnvatoTest/.claude_logs
/.claude
/Training/FrameFlickerEnvatoTestAblation/datasets/.precomputed
Training/nanobanna_flickertest/fresh_dataset_generation.log
Training/nanobanna_flickertest/full_dataset_generation.log
Training/nanobanna_flickertest/full_dataset_generation_v2.log
Training/nanobanna_flickertest_50k_121-361f_3seed_768x480/manual_tests/precomputed_latents
Training/nanobanna_flickertest_50k_121-361f_3seed_768x480/manual_tests/test_outputs
/Training/nanobanna_flickertest_50k_121-361f_3seed_768x480/manual_tests/.claude_logs
