# Extended from ltx-core pyproject.toml
torch~=2.7
torchaudio
einops
numpy
transformers
safetensors
accelerate
scipy>=1.14

# Additional for notebook
rp
decord
rclone-python
py3nvml
xmltodict
moviepy
opencv-python
opencv-contrib-python
mediapy
av

#Other things I just want in general - you should have them
pandas